/*HEADER*/

.header{
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 0 100px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1000px){
    &{
      padding: 0 50px;
    }
  }
  @media screen and (max-width: 500px){
    &{
      padding: 0 20px;
    }
  }
}

.logo{
  z-index: 3;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  max-width: 100%;
  height: auto;
}

.navigation_wrap_desk{
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 4;
  .navigation {
    display: flex;
    list-style: none;
      .nav_itm{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease;
        &:nth-child(2){
          margin: 0 70px;
        }
        &:nth-child(3){
          margin: 0 70px 0 0;
        }
        &:hover{
          color: #FF8C00;
        }
      }
  }
  @media screen and (max-width: 810px){
    & .navigation .nav_itm:nth-child(2){
      margin: 0 30px;
    }
    & .navigation .nav_itm:nth-child(3){
      margin: 0 30px 0 0;
    }
  }
  @media screen and (max-width: 650px){
    &{
      display: none;
    }
  }
}

.navigation_wrap_mob{
  z-index: 4;
  position: absolute;
  top: 100px;
  left: 0;
  @include center;
  width: 100%;
  max-width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
    .navigation_mob{
      display: flex;
      width: 100%;
      max-width: 100%;
      height: auto;
      flex-direction: column;
      list-style: none;
        .nav_itm_mob{
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          text-align: center;
          background: #0b0b0b;
          color: white;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease;
          border-top: 1px solid white;
          &:last-child{
            border-bottom: 1px solid white;
          }
          &:hover{
            color: #FF8C00;
          }
            > li{
              @include center;
              height: 50px;
            }
        }
    }
}
.open_nav{
  opacity: 1;
  visibility: visible;
}

.logo_link{
  width: 54px;
  height: 56px;
}
.header_btn_wrap{
  z-index: 3;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.head_btn{
  text-decoration: none;
  width: 180px;
  height: 56px;
  background: #FF8C00;
  border-radius: 10px;
  margin: 0 0 0 30px;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  transition: all 0.3s ease;
  cursor: pointer;
  @include push_;
  @media screen and (max-width: 1000px){
    &{
      width: 120px;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 650px){
    &{
      width: 180px;
      font-size: 18px;
      margin: 0 50px;
    }
  }
  @media screen and (max-width: 500px){
    &{
      width: 130px;
      font-size: 16px;
      margin: 0 50px 0 60px;
    }
  }
  @media screen and (max-width: 500px){
    &{
      width: 100px;
      font-size: 16px;
      margin: 0 30px 0 45px;
    }
  }
}

.ellipse_f{
  z-index: 1;
  width: 380px;
  height: 230px;
  border-radius: 0 0 0 230px;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(132.03deg,
                              #121212 26.21%,
                              rgba(18, 18, 18, 0) 79.96%,
                              rgba(18, 18, 18, 0) 115.64%);
}

.ellipse_s{
  z-index: 2;
  width: 300px;
  height: 230px;
  border-radius: 0 0 0 230px;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(132.03deg,
                              #121212 26.21%,
                              rgba(18, 18, 18, 0) 79.96%,
                              rgba(18, 18, 18, 0) 115.64%);
}

/*BURGER*/

#container {
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box {
  width: 70px;
  height: 70px;
  float: left;
}

.icon {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.icon {
  stroke: #FFFFFF;
  opacity: .95;
}

@media screen and (max-width: 650px){
  #container {
    display: flex;
  }
}
/*BURGER*/

/*HEADER*/
