@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin push_{
  &:hover{
    transform: scale(1.05);
  }
  &:active{
    transform: scale(0.9);
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

}

body{
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  background: #0B0B0B;
}

@@include('_header.scss')

@@include('_main.scss')

@@include('_footer.scss')



/*404*/
.er_wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
.er_title{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 90px;
    text-align: center;
    color: #FFA825;
    margin-top: 50px;
}
.er_text{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #949494;
  margin-top: 20px;
}

.er_sub_text{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: #949494;
  margin-top: 20px;
    &:last-child{
      font-size: 25px;
    }
}
.er_link{
  text-decoration: none;
  color: #FFA825;
}
/*404 END*/
