@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin push_{
  &:hover{
    transform: scale(1.05);
  }
  &:active{
    transform: scale(0.9);
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

}

body{
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  background: #0B0B0B;
}

@@include('_header.scss')

@@include('_main.scss')

@@include('_footer.scss')



/*
@media screen and (max-width: 1250px){

}
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 810px){

}
@media screen and (max-width: 650px){

}
@media screen and (max-width: 500px){

}
@media screen and (max-width: 390px){

}

*/
