* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  background: #0B0B0B;
}

/*HEADER*/

.header {
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 0 100px;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 100%;
  height: auto;
}

.navigation_wrap_desk {
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 4;
}

.navigation_wrap_desk .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation_wrap_desk .navigation .nav_itm {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navigation_wrap_desk .navigation .nav_itm:nth-child(2) {
  margin: 0 70px;
}

.navigation_wrap_desk .navigation .nav_itm:nth-child(3) {
  margin: 0 70px 0 0;
}

.navigation_wrap_desk .navigation .nav_itm:hover {
  color: #FF8C00;
}

.navigation_wrap_mob {
  z-index: 4;
  position: absolute;
  top: 100px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navigation_wrap_mob .navigation_mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.navigation_wrap_mob .navigation_mob .nav_itm_mob {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  background: #0b0b0b;
  color: white;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-top: 1px solid white;
}

.navigation_wrap_mob .navigation_mob .nav_itm_mob:last-child {
  border-bottom: 1px solid white;
}

.navigation_wrap_mob .navigation_mob .nav_itm_mob:hover {
  color: #FF8C00;
}

.navigation_wrap_mob .navigation_mob .nav_itm_mob > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.open_nav {
  opacity: 1;
  visibility: visible;
}

.logo_link {
  width: 54px;
  height: 56px;
}

.header_btn_wrap {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.head_btn {
  text-decoration: none;
  width: 180px;
  height: 56px;
  background: #FF8C00;
  border-radius: 10px;
  margin: 0 0 0 30px;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.head_btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.head_btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.ellipse_f {
  z-index: 1;
  width: 380px;
  height: 230px;
  border-radius: 0 0 0 230px;
  position: absolute;
  right: 0;
  top: 0;
  background: -o-linear-gradient(317.97deg, #121212 26.21%, rgba(18, 18, 18, 0) 79.96%, rgba(18, 18, 18, 0) 115.64%);
  background: linear-gradient(132.03deg, #121212 26.21%, rgba(18, 18, 18, 0) 79.96%, rgba(18, 18, 18, 0) 115.64%);
}

.ellipse_s {
  z-index: 2;
  width: 300px;
  height: 230px;
  border-radius: 0 0 0 230px;
  position: absolute;
  right: 0;
  top: 0;
  background: -o-linear-gradient(317.97deg, #121212 26.21%, rgba(18, 18, 18, 0) 79.96%, rgba(18, 18, 18, 0) 115.64%);
  background: linear-gradient(132.03deg, #121212 26.21%, rgba(18, 18, 18, 0) 79.96%, rgba(18, 18, 18, 0) 115.64%);
}

/*BURGER*/

#container {
  z-index: 3;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.box {
  width: 70px;
  height: 70px;
  float: left;
}

.icon {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.icon {
  stroke: #FFFFFF;
  opacity: 0.95;
}

/*BURGER*/

/*HEADER*/

/*MAIN*/

/*FIRST SCREEN*/

.first_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 115px 0 0 0;
  padding: 0 95px;
}

/*BLOCK WITH MAIN TITLE*/

.title_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.main_title {
  z-index: 3;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 96px;
  letter-spacing: 1px;
  margin-bottom: 38px;
}

.main_title .main_title_span {
  background: -o-linear-gradient(340.17deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  background: linear-gradient(109.83deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFA825;
}

.title_list {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.title_list .t-list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.title_list .t-list_item .t-list_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 10px;
}

.title_block_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 282px;
  height: 67px;
  background: -o-linear-gradient(355.1deg, #FF814A 17.4%, #FFA825 105.56%, rgba(255, 140, 0, 0) 125.9%, #FFA825 125.91%);
  background: linear-gradient(94.9deg, #FF814A 17.4%, #FFA825 105.56%, rgba(255, 140, 0, 0) 125.9%, #FFA825 125.91%);
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 53px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.title_block_btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.title_block_btn:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

/*BLOCK WITH MAIN TITLE END*/

/*BLOCK WITH PHONE IMG*/

.img_block {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
}

.img_block .phone_img {
  height: 643px;
  width: 262px;
  margin-left: 90px;
}

.phone_item_f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20%;
  left: 55%;
  width: 314px;
  max-width: 100%;
  height: 89px;
  background: rgba(223, 223, 223, 0.03);
  -webkit-box-shadow: inset 10px -10px 10px rgba(21, 30, 36, 0.01), inset -10px 10px 10px rgba(255, 255, 255, 0.01);
          box-shadow: inset 10px -10px 10px rgba(21, 30, 36, 0.01), inset -10px 10px 10px rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(31.8px);
          backdrop-filter: blur(31.8px);
  border-radius: 10px;
}

.phone_item_f .if_img {
  width: 46px;
  max-width: 100%;
  height: 46px;
}

.phone_item_f .if_svg {
  width: 60px;
  max-width: 100%;
  height: 32px;
}

.phone_item_f p:nth-child(2) {
  margin: 0 19px;
}

.phone_item_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  right: 43%;
  width: 322px;
  max-width: 100%;
  height: 158px;
  background: rgba(223, 223, 223, 0.03);
  -webkit-box-shadow: inset 10px -10px 10px rgba(21, 30, 36, 0.01), inset -10px 10px 10px rgba(255, 255, 255, 0.01);
          box-shadow: inset 10px -10px 10px rgba(21, 30, 36, 0.01), inset -10px 10px 10px rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(31.8px);
          backdrop-filter: blur(31.8px);
  border-radius: 10px;
}

.phone_item_s .s_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.phone_item_s .s_sub .is_img {
  width: 46px;
  height: 46px;
}

.phone_item_s .s_sub .i_text_sub {
  width: 140px;
}

.phone_item_s .s_sub:first-child {
  margin-bottom: 20px;
}

.phone_item_s .s_sub p:nth-child(2) {
  margin: 0 0 0 15px;
}

.phone_item_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 16px 0;
  top: 72%;
  right: 0;
  width: 191px;
  max-width: 100%;
  height: 158px;
  background: rgba(223, 223, 223, 0.03);
  -webkit-box-shadow: inset 10px -10px 10px rgba(21, 30, 36, 0.01), inset -10px 10px 10px rgba(255, 255, 255, 0.01);
          box-shadow: inset 10px -10px 10px rgba(21, 30, 36, 0.01), inset -10px 10px 10px rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(15.8px);
          backdrop-filter: blur(15.8px);
  border-radius: 10px;
}

.phone_item_t .graf_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin-left: 20px;
}

.phone_item_t .graf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.phone_item_t .graf > svg {
  margin: 0 8px;
}

.i_text {
  font-family: "Inter", sans-serif;
  width: 85px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #7E7E7E;
}

.i_text .if_text_span {
  color: #F8F8F8;
}

.i_text .green_text {
  font-size: 12px;
}

/*BLOCK WITH PHONE END*/

/*FIRST SCREEN END*/

/*MARKET*/

.market {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0 100px;
  margin: 90px 0 0 0;
}

.market_title {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 90px;
  text-align: center;
}

.market_title .market_title_span {
  background: -o-linear-gradient(340.17deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  background: linear-gradient(109.83deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFA825;
}

.market_sub_title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #A5A5A5;
}

.market_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: 86px;
  padding: 0 50px;
  background: #1a1a1a;
  margin: 10px 0;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.market_item:hover {
  border: 2px solid transparent;
  -o-border-image: -o-linear-gradient(340.17deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
     border-image: linear-gradient(109.83deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  border-image-slice: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.m_item_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #A5A5A5;
  width: 300px;
}

.m_item_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 176px;
  height: 57px;
  background: #1d1d1d;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 90px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #D5D5D5;
}

.m_item_btn:hover {
  background: #FFA825;
  color: #282828;
}

/*MARKET END*/

/*EASY ORGANIZE*/

.e_org {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 140px 0 0 0;
  padding: 0 95px;
}

.e_org_text_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.e_org_title {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 96px;
  letter-spacing: 1px;
  margin-bottom: 38px;
}

.e_org_title .e_org_title_span {
  background: -o-linear-gradient(340.17deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  background: linear-gradient(109.83deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFA825;
}

.e_org_text_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.e_org_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #EBEBEB;
  margin-left: 42px;
}

.e_org_img_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.e_org_img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.e_org_img_block .e_org_img_blur {
  position: absolute;
  width: 97px;
  height: 83px;
  background: #ffa825;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  z-index: 1;
}

.e_org_img_block .e_org_img {
  width: 367px;
  height: 795px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.e_org_img_block .e_org_img_blur:nth-child(1) {
  top: 0;
  right: 0;
}

.e_org_img_block .e_org_img_blur:nth-child(3) {
  bottom: 0;
  left: 0;
}

/*EASY ORGANIZE END*/

/*PRICING*/

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 120px 0 0 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.p_main_title {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: 0.5px;
}

.p_main_title .p_title_span {
  background: -o-linear-gradient(340.17deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  background: linear-gradient(109.83deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFA825;
}

.p_sub_title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 90px;
  letter-spacing: 0.5px;
  color: #A5A5A5;
  margin-bottom: 30px;
}

.p_card_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 282px;
  height: auto;
  background: #202020;
  border-radius: 10px;
  padding: 16px 35px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.p_card:nth-child(2) {
  margin: 0 72px;
}

.p_card_active {
  background: #060202;
  -webkit-box-shadow: 0 0 10px #FFA825;
          box-shadow: 0 0 10px #FFA825;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.p_card_active > .p_card_btn {
  border: 2px solid #FFA825;
  border-radius: 10px;
}

.p_card_active > .p_card_btn:hover {
  font-family: Arial, sans-serif;
  background: #FFA825;
  color: #050801;
  -webkit-box-shadow: 0 0 5px #FFA825, 0 0 25px #FFA825;
          box-shadow: 0 0 5px #FFA825, 0 0 25px #FFA825;
}

.p_card_title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.p_card_price_wrap {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.p_card_price_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  float: bottom;
}

.p_card_price_text .big_num {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 90px;
  color: #FFFFFF;
}

.p_card_price_span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  position: absolute;
  top: -10%;
  left: 0;
}

.p_card_list {
  width: 100%;
  max-width: 100%;
  height: 190px;
}

.p_card_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 12px 0;
}

.p_card_list_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #F8F8F8;
  margin-left: 10px;
}

.p_card_list_text_dis {
  color: #5F5F5F;
}

.p_card_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 238px;
  max-width: 100%;
  height: 62px;
  margin-top: 25px;
  background: transparent;
  border: 1px solid #F8F8F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 90px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/*PRICING END*/

/*FORM*/

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 120px 0 80px 0;
  padding: 0 15px;
}

.form_wrap_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.form_main_title {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
}

.form_main_title .form_title_span {
  background: -o-linear-gradient(340.17deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  background: linear-gradient(109.83deg, #FF814A 16.61%, #FFA825 35.74%, #F1F37C 117.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFA825;
}

.form_sub_title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #A5A5A5;
  margin: 20px 0 50px 0;
}

.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #171515;
  -webkit-box-shadow: 0 0 10px #FFA825;
          box-shadow: 0 0 10px #FFA825;
  content: url("../img/mouse-arrow_icon-icons.com_53943.svg");
  z-index: 20;
  top: -10px;
  left: -10px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.checkbox:checked + label:before {
  -webkit-transform: translateX(44px) rotate(-310deg);
      -ms-transform: translateX(44px) rotate(-310deg);
          transform: translateX(44px) rotate(-310deg);
}

.switch_lab {
  font-family: "Arial", sans-serif;
  color: #ffa825;
  font-size: 22px;
  margin-bottom: 15px;
}

.switch_lab > span {
  margin: 0 9px;
}

.form_wrap_front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  margin-top: 35px;
  width: 350px;
  max-width: 100%;
  height: auto;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0 10px #ffa825;
          box-shadow: 0 0 10px #ffa825;
}

.form_wrap_back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  margin-top: 35px;
  width: 350px;
  max-width: 100%;
  height: auto;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0 10px #ffa825;
          box-shadow: 0 0 10px #ffa825;
  display: none;
}

.form_main,
.form_back {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.form_title {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  color: #FFA825;
  text-align: center;
  margin-bottom: 20px;
}

.form_group,
.btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 18px;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.int {
  width: 290px;
  max-width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 21px;
}

.int:focus {
  -webkit-box-shadow: 0 0 5px #ffa825;
          box-shadow: 0 0 5px #ffa825;
}

.btn_form {
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 15px;
  font-family: "Arial", sans-serif;
  font-size: 25px;
  background: #ffa825;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn_form:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.check_par {
  font-family: "Inter", sans-serif;
  color: white;
}

.check_st {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.forgot {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
}

.f_link {
  text-decoration: none;
  color: #ffa825;
}

.invalid {
  border: 1px solid #9d0303;
  -webkit-box-shadow: 0 0 10px #9d0303;
          box-shadow: 0 0 10px #9d0303;
}

.invalid:focus {
  -webkit-box-shadow: 0 0 10px #9d0303;
          box-shadow: 0 0 10px #9d0303;
}

.valid {
  border: 1px solid #178002;
  -webkit-box-shadow: 0 0 10px #178002;
          box-shadow: 0 0 10px #178002;
}

.valid:focus {
  -webkit-box-shadow: 0 0 10px #178002;
          box-shadow: 0 0 10px #178002;
}

.help-msg {
  font-family: "Inter", sans-serif;
  color: #9d0303;
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
}

/*FORM END*/

/*MAIN*/

/*FOOTER*/

.footer {
  width: 100%;
  max-width: 100%;
  height: 305px;
  padding: 65px 190px 38px 165px;
}

.footer_content {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo_footer {
  width: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 29px;
  cursor: pointer;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 12px;
}

.footer_links .footer_link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 24px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer_links .footer_link:hover {
  color: #FF8C00;
}

.footer_links:nth-child(2) {
  margin-bottom: 24px;
}

.footer_text_copyright {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #D9DBE1;
}

.app {
  width: 160px;
  max-width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app_title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #D9DBE1;
}

.app_img {
  width: 134px;
  max-width: 100%;
  height: 40px;
}

/*FOOTER END*/

/*COMMON STYLES*/

.up {
  color: #20bd6a;
}

.down {
  color: #ec4b5b;
}

.check_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  max-width: 100%;
  height: auto;
}

.check_circle {
  width: 32px;
  height: 32px;
}

.logo_img {
  width: 56px;
  max-width: 100%;
  height: 59px;
}

/*COMMON STYLES*/

/*
@media screen and (max-width: 1250px){

}
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 810px){

}
@media screen and (max-width: 650px){

}
@media screen and (max-width: 500px){

}
@media screen and (max-width: 390px){

}

*/

@media screen and (max-width: 1250px) {
  .first_screen {
    padding: 0 50px 0 80px;
  }

  .main_title {
    font-size: 60px;
  }

  .title_list .t-list_item .t-list_text {
    font-size: 14px;
  }

  .title_block_btn {
    width: 241px;
    height: 57px;
  }

  .img_block .phone_img {
    height: 580px;
    width: 240px;
  }

  .phone_item_f {
    width: 260px;
    height: 79px;
    top: 24%;
    left: 49%;
    -webkit-backdrop-filter: blur(4.8px);
            backdrop-filter: blur(4.8px);
  }

  .phone_item_f > p {
    font-size: 12px;
  }

  .phone_item_f p:nth-child(2) {
    margin: 0 12px;
  }

  .phone_item_s {
    width: 260px;
    height: 128px;
    -webkit-backdrop-filter: blur(4.8px);
            backdrop-filter: blur(4.8px);
  }

  .phone_item_s .s_sub .i_text_sub {
    width: 80px;
  }

  .phone_item_s .s_sub > p {
    font-size: 12px;
  }

  .market {
    padding: 0 80px;
  }

  .m_item_text {
    font-size: 20px;
    width: 250px;
  }

  .e_org {
    padding: 0 80px;
  }

  .e_org_title {
    font-size: 53px;
  }

  .e_org_text {
    font-size: 18px;
    margin-left: 15px;
  }

  .e_org_img_block .e_org_img {
    width: 310px;
    height: 650px;
    margin-left: 40px;
  }

  .p_card:nth-child(2) {
    margin: 0 65px;
  }

  .footer {
    padding: 65px 140px 38px 115px;
  }

  .check_circle {
    width: 29px;
    height: 29px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 50px;
  }

  .head_btn {
    width: 120px;
    font-size: 16px;
  }

  .main_title {
    font-size: 45px;
    line-height: 65px;
  }

  .title_list .t-list_item .t-list_text {
    font-size: 12px;
    margin-left: 5px;
  }

  .img_block .phone_img {
    height: 455px;
    width: 195px;
  }

  .phone_item_f {
    width: 210px;
    height: 60px;
  }

  .phone_item_f > p {
    font-size: 11px;
  }

  .phone_item_f p:nth-child(2) {
    margin: 0 8px;
  }

  .phone_item_f .if_img {
    width: 39px;
    max-width: 100%;
    height: 39px;
  }

  .phone_item_f .if_svg {
    width: 47px;
    max-width: 100%;
    height: 28px;
  }

  .phone_item_s {
    width: 195px;
    height: 100px;
    -webkit-backdrop-filter: blur(4.8px);
            backdrop-filter: blur(4.8px);
  }

  .phone_item_s .s_sub .is_img {
    width: 37px;
    height: 37px;
  }

  .phone_item_s .s_sub .i_text_sub {
    width: 60px;
  }

  .phone_item_s .s_sub > p {
    font-size: 10px;
  }

  .phone_item_s .s_sub:first-child {
    margin-bottom: 10px;
  }

  .phone_item_t {
    top: 75%;
    left: 55%;
  }

  .i_text {
    width: 60px;
  }

  .market_title {
    font-size: 45px;
    line-height: 50px;
  }

  .market_sub_title {
    font-size: 15px;
  }

  .market_item {
    padding: 0 40px;
  }

  .m_item_text {
    font-size: 16px;
    width: 170px;
  }

  .m_item_btn {
    width: 156px;
    height: 50px;
    font-size: 16px;
  }

  .e_org_title {
    font-size: 53px;
    line-height: 60px;
  }

  .e_org_text {
    font-size: 13px;
    margin-left: 15px;
  }

  .e_org_img_block .e_org_img {
    width: 260px;
    height: 550px;
  }

  .p_main_title {
    font-size: 55px;
  }

  .p_sub_title {
    line-height: 60px;
    text-align: center;
  }

  .p_card {
    width: 230px;
  }

  .p_card:nth-child(2) {
    margin: 0 35px;
  }

  .p_card_title {
    font-size: 20px;
  }

  .p_card_price_text {
    margin-left: 30px;
  }

  .p_card_price_text .big_num {
    font-size: 83px;
  }

  .p_card_price_span {
    top: -5%;
    left: 0;
  }

  .p_card_list_text {
    font-size: 14px;
  }

  .form_main_title {
    font-size: 55px;
  }

  .footer {
    padding: 65px 60px 38px 60px;
  }
}

@media screen and (max-width: 810px) {
  .navigation_wrap_desk .navigation .nav_itm:nth-child(2) {
    margin: 0 30px;
  }

  .navigation_wrap_desk .navigation .nav_itm:nth-child(3) {
    margin: 0 30px 0 0;
  }

  .first_screen {
    padding: 0 65px;
  }

  .main_title {
    font-size: 39px;
    line-height: 60px;
  }

  .title_list .t-list_item .t-list_text {
    font-size: 10px;
    margin-left: 4px;
  }

  .phone_item_f {
    display: none;
  }

  .phone_item_s {
    top: 28%;
    right: 44%;
  }

  .phone_item_t {
    top: 69%;
    left: 0;
  }

  .market_title {
    font-size: 39px;
    line-height: 60px;
  }

  .market_sub_title {
    font-size: 14px;
    line-height: 30px;
  }

  .market {
    padding: 0 65px;
  }

  .market_item {
    height: 65px;
    padding: 0 20px;
  }

  .m_item_text {
    font-size: 14px;
    width: 160px;
  }

  .m_item_btn {
    width: 136px;
    height: 40px;
    font-size: 13px;
  }

  .e_org {
    padding: 0 65px;
  }

  .e_org_text_item {
    margin: 20px 0;
  }

  .p_main_title {
    font-size: 39px;
  }

  .p_sub_title {
    font-size: 19px;
    line-height: 30px;
    margin: 0 0 40px 0;
  }

  .p_card {
    width: 190px;
    padding: 16px 15px;
  }

  .p_card:nth-child(2) {
    margin: 0 25px;
  }

  .p_card_title {
    font-size: 20px;
  }

  .p_card_price_text {
    margin-left: 20px;
    font-size: 15px;
  }

  .p_card_price_text .big_num {
    font-size: 75px;
  }

  .form_main_title {
    font-size: 39px;
  }

  .form_sub_title {
    margin: 0 0 50px 0;
  }

  .footer {
    height: auto;
    padding: 65px 0 38px 35px;
  }

  .footer_links .footer_link {
    font-size: 13px;
  }

  .app_title {
    margin-bottom: 40px;
  }

  .app_img:first-child {
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 650px) {
  .navigation_wrap_desk {
    display: none;
  }

  .head_btn {
    width: 180px;
    font-size: 18px;
    margin: 0 50px;
  }

  #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .first_screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .img_block .phone_img {
    margin-left: 0;
  }

  .img_block {
    margin-top: 50px;
  }

  .phone_item_f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 25%;
    left: 45%;
  }

  .phone_item_s {
    top: 45%;
    right: 55%;
  }

  .phone_item_t {
    top: 69%;
    left: 50%;
  }

  .market {
    padding: 0 40px;
  }

  .market_item {
    padding: 0 15px;
  }

  .m_item_text {
    font-size: 12px;
  }

  .m_item_text:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .m_item_text:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .m_item_btn {
    width: 136px;
    height: 40px;
    font-size: 11px;
  }

  .e_org_title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .e_org_text {
    font-size: 13px;
    margin-left: 10px;
  }

  .e_org_img_block .e_org_img {
    width: 200px;
    height: 430px;
  }

  .p_card_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .p_card {
    width: 270px;
    padding: 16px 30px;
  }

  .p_card:nth-child(2) {
    margin: 35px 0;
  }

  .p_card_title {
    font-size: 24px;
  }

  .p_card_price_text {
    margin-left: 10px;
    font-size: 20px;
  }

  .p_card_price_text .big_num {
    font-size: 94px;
  }

  .p_card_list_text {
    font-size: 17px;
  }

  .footer_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .app {
    width: 290px;
    max-width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 0 10px 0;
  }

  .app_title {
    margin-bottom: 0;
    display: none;
  }

  .app_img:first-child {
    margin-bottom: 0;
  }

  .footer_links .footer_link {
    font-size: 15px;
  }

  .footer_text_copyright {
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0 20px;
  }

  .head_btn {
    width: 130px;
    font-size: 16px;
    margin: 0 50px 0 60px;
  }

  .head_btn {
    width: 100px;
    font-size: 16px;
    margin: 0 30px 0 45px;
  }

  .first_screen {
    margin: 40px 0 0 0;
    padding: 0 40px;
  }

  .main_title {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .title_block_btn {
    margin-top: 35px;
  }

  .phone_item_f {
    width: 185px;
    height: 50px;
  }

  .phone_item_f .if_img {
    width: 30px;
    height: 30px;
  }

  .phone_item_f .i_text {
    font-size: 9px;
  }

  .phone_item_s {
    width: 160px;
    height: 90px;
  }

  .phone_item_s .s_sub .is_img {
    width: 30px;
    height: 30px;
  }

  .phone_item_s .s_sub .i_text_sub {
    width: 50px;
  }

  .phone_item_s .s_sub p:nth-child(2) {
    margin: 0 0 0 9px;
  }

  .phone_item_t {
    width: 160px;
    height: 125px;
  }

  .market_sub_title {
    font-size: 12px;
  }

  .market {
    padding: 0 30px;
  }

  .market_item {
    height: 50px;
    margin: 5px 0;
    padding: 0 10px;
  }

  .m_item_text {
    font-size: 10px;
  }

  .m_item_text:nth-child(1) {
    width: 100px;
  }

  .m_item_text:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .m_item_btn {
    width: 135px;
    height: 35px;
    font-size: 10px;
  }

  .e_org {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 40px;
    margin: 90px 0 0 0;
  }

  .e_org_title {
    margin: 0 auto;
    text-align: center;
  }

  .e_org_text {
    font-size: 10px;
    margin-left: 7px;
  }

  .e_org_img_block .e_org_img {
    width: 210px;
    height: 455px;
    margin-left: 0;
    margin-top: 40px;
  }

  .e_org_img_block .e_org_img_blur:nth-child(3) {
    width: 65px;
    height: 60px;
    left: 10%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
  }

  .footer {
    padding: 63px 0 38px 15px;
  }
}

@media screen and (max-width: 390px) {
  .title_block_btn_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .phone_item_f {
    top: 24%;
    left: 35%;
  }

  .phone_item_s {
    top: 52%;
    right: 47%;
  }

  .phone_item_t {
    top: 75%;
    left: 44%;
  }

  .i_text .green_text {
    font-size: 10px;
  }

  .market_sub_title {
    font-size: 11px;
    line-height: 20px;
  }

  .market {
    padding: 0 13px;
  }

  .market_item {
    height: 50px;
    margin: 5px 0;
    padding: 0 5px;
  }

  .market_item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .m_item_text {
    font-size: 10px;
  }

  .m_item_text:nth-child(3) {
    width: 135px;
  }

  .m_item_btn {
    width: 135px;
    height: 30px;
    font-size: 9px;
  }

  .e_org {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .e_org_title {
    font-size: 33px;
    margin-bottom: 10px;
  }

  .e_org_text {
    font-size: 10px;
    margin-left: 12px;
  }

  .e_org_img_block .e_org_img_blur:nth-child(3) {
    width: 65px;
    height: 60px;
    left: 10%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
  }

  .e_org_img_block .e_org_img_blur:nth-child(1) {
    width: 65px;
    height: 60px;
    top: 6%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
  }

  .footer {
    padding: 63px 15px 38px 15px;
  }

  .footer_links .footer_link {
    font-size: 16px;
  }

  .bottom .footer_link {
    margin: 0 24px 10px 0;
  }
}